/* This is for the index page */

* {
    font-family: "Times New Roman", Helvetica, sans-serif;
}

.body-border {
    border-style: double;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 600px;
    margin-right: 600px;
}

.main-title {
    text-align: center;
}

.chef {
    display: block;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

div ul li {
    text-align: center;
    list-style-type: none;
}

.about-link {
    text-align: center;
    transform: translate(+1%, +100%);
}

a {
    text-decoration: none;
}

